---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Overspeeding&nbsp;<span class="text-gradient">Surveillance</span></h1>
    <p class="instructions">
      Group Members: <Link href="https://www.facebook.com/aabhas.dhaubanja/"
        >Aabhas Dhaubanja</Link
      >, <Link href="https://www.facebook.com/nitesh.krdas.3">Nitesh Das</Link>,
      <Link href="https://www.facebook.com/pra.tiik.9">Pratik Tamrakar</Link> and
      <Link href="https://www.facebook.com/sanjog.gaihre.5">Sanjog Gaihre</Link>
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        title="Documentation"
        body="Learn how our project works and explore the code."
      />
      <Card
        href="/upload-image"
        title="Upload Image"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Upload Video"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Livestream"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    width: auto;
    font-size: 2.65rem;
    font-weight: 800;
  }
  .text-gradient {
    background-image: linear-gradient(to right, orange, #f06595 15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
