---
import MantineLayout from "../layouts/Mantine.jsx";
import Upload from "../components/Upload.jsx";
import { IMAGE_MIME_TYPE } from "@mantine/dropzone";
---

<div>
  <MantineLayout client:load>
    <Upload accept={IMAGE_MIME_TYPE} client:only />
  </MantineLayout>
</div>
